/* Ren G Site Style Sheet */

@font-face {
    font-family: 'Bodoni 72';
    src: url(../fonts/bodoni-72-book.ttf) format('opentype');
    font-style: normal;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
      transform: translateY(-180px); /* Start 100px above its final position */
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

h1 {
    color: #492F24;

    /* Heading 1 */
    font-family: "Bodoni 72";
    font-size: 9vw;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

h2 {
    color: #492F24;

    /* Heading 2 */
    font-family: "Bodoni 72";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #492F24;

    /* Subheading */
    font-family: "Bodoni 72";
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #492F24;

    /* Normal Text */
    font-family: "Bodoni 72";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: #492F24;
    text-decoration: none;
}

body {
    cursor: url("../assets/93c81736d55c7366d7c9586e9c1e0f79.gif"), auto;
    padding: 0;
    margin: 0;
    background-color: #F7F4E3;
    background-image: url("../assets/Ren-Background.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.landing-page {
    opacity: 0%;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
}

.landing-page-nav-bar {
    justify-content: flex-start;
    align-items: center;
    gap: 40px; 
    display: inline-flex;
}

.landing-page-nav-bar h3:hover {
    text-decoration: underline;
}

.landing-page h1 {
    paint-order: stroke fill; 
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #FFF;
    margin-bottom: 0.5%;
}

.icons {
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-flex;
    align-items: center;
    gap: 19px; 
}

.icons img {
    max-width: 100%;
    height: auto;
}

.source-photo img {
    flex-shrink: 1; 
    height: auto; 
    width: auto; 
    max-width: 45vw; 
    max-height: 45vh;
}

/* navbar div class */

.navbar-logo {
    margin: 0;
    position: static;   /* stick at top */
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    position: static;
    display: inline-flex;
    align-items: center;
    padding-left: 4vw;
    padding-right: 8vw;
    height: auto; 
}

.logo h1 {
    margin: 0;
    padding-top: 3.5vh;
    color: #FFB8C3;
    font-size: 8vw;
}

.navbar {
    padding-left: 2vw;
    display: inline-flex;
    align-items: center;
    gap: 93px;
}

.navbar h3 {
    font-size: 1.8vw;
}

.navbar a:hover {
    text-decoration: underline;
}

.intro-text {
    opacity: 0%;
    animation: fadeIn 1s ease-in-out forwards;
    margin-left: 13vw;
    margin-right: 5vw;
}

.intro-text h2 {
    font-size: 6vw;
}

.intro-text span {
    color: #FFB8C3;
}

/* shows */

.dates-and-shows {
    opacity: 0%;
    animation: fadeIn 1s ease-in-out forwards;
}

.live-dates {
    text-align: center;
}

.shows {
    margin-left: 26vw;
    margin-right: 5vw;
}

.shows p span {
    color: #FFB8C3;
}

/* contact page */

.contact {
    padding-top: 11vh;
    opacity: 0%;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
}